{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login Page{% endblock title %}


{% block content %}


<h2 class="text-center bg-info py-2 mb-5">Login</h2>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}
<div class="row">
    <div class="col-8 offset-2">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            `{{form|crispy}}


            <input type="submit" value="login" class="btn btn-outline-info mb-3" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary">Facebook</a>
        <a href="" class="btn btn-warning">Google</a>
        <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-info">Twitter</a>
        <a href="{% url 'social:begin' 'github' %}" class="btn btn-secondary">Github</a>
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger">Google +</a>
        <p><a href="{% url 'password_reset' %}" class="mt-5">You want to reset your password?</a></p>



    </div>
</div>





{% endblock content %}