<!doctype html>
<html lang="en">
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- for image css must included  -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">



    <title>
        {% block title %}Base Title{% endblock title %}
    </title>
</head>

<body>

    <!-- nav begin  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>


            <!-- dropdown begin -->
            <ul class="navbar-nav ml-auto mr-4">
                {% if user.is_authenticated %}
                <li class=" nav-item dropdown">


                    <a class="nav-link dropdown-toggle topnav-image" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        
                        {% if user.profile.image %}
                        <img src="{{ user.profile.image.url }}" alt="image upload" class="rounded-thumbnail"> {{user.username}}

                        {% else %}
                        
                        {% if user.profile.gender == 'male'  %}
                        <img src="{% static 'img/male.jpg' %}" alt="image upload" class="rounded-thumbnail"> {{user.username}} 
                    
                        {% elif user.profile.gender == 'female' %}
                        <img src="{% static 'img/female.jpg' %}" alt="image upload" class="rounded-thumbnail"> {{user.username}} 
                        {% else %}
                        <img src="{% static 'img/common.png' %}" alt="image upload" class="rounded-thumbnail"> {{user.username}} 

                        {% endif %}
                        
                           
                        

                        {% endif %}
                            
                        
                    </a>
                   

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'user_dashboard' %}">Dashboard</a>
                        <a class="dropdown-item" href="{% url 'editProfile' %}">Profile</a>
                        <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">LogOut</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">SignUp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
               
                {% endif %}
            </ul>
            <!-- dropdown end -->










            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>





        </div>
    </nav>

    <!-- nav end -->







    <div class="container">
        {% block content %}

        {% endblock content %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>